body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #FFFFFF;
    font-family: "Helvetica";
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

tr {
    background-color: white;
}

table {
    border-collapse: collapse;
    border: 5px solid #FDDC03;
    width: 100%;
}

td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.form-control::-moz-placeholder { /* Firefox, Opera, Safari 10.1+ */
    opacity: 0.8; /* Firefox */
    font-weight: bold;
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-weight: bold;
}

.form-control::placeholder { /* Chrome */
    font-weight: bold;
}

.domein {
    height: 150px;
    width: 150px;
    background-color: #1476C6;
    color: white;
    overflow: hidden;
    text-align: center;
    border-radius: 25px;
    text-decoration: none;
    float: left;
    margin: 5px;
}

    .domein:hover, .domein:focus {
        text-decoration: none;
        background-color: #1064a8;
        color: white;
    }

    .domein:visited, .domein:link {
        text-decoration: none;
        background-color: #1476C6;
        color: white;
    }

.domein-naam {
    height: 50px;
    margin: 0;
    text-align: center;
    font-size: large;
    vertical-align: middle;
    line-height: 50px;
}

.domein-new {
    border: dashed 5px #1476C6;
    color: black;
    background-color: white;
}

    .domein-new:hover, .domein:focus {
        background-color: #e6e8ed;
        color: black;
    }

    .domein-new:visited, .domein:link {
        background-color: white;
        color: black;
    }

.img-container {
    height: 75px;
    text-align: center;
    font: 0/0 a;
    margin: 0;
}

    .img-container:before {
        content: ' ';
        display: inline-block;
        vertical-align: middle; /* vertical alignment of the inline element */
        height: 100%;
    }

    .img-container img {
        display: inline-block;
        vertical-align: middle; /* vertical alignment of the inline element */
        font: 16px/1 Arial sans-serif; /* <-- reset the font property */
    }

.titel {
    text-align: center;
    font-size: xx-large;
}

.dataset {
    height: 50px;
    width: 100%;
    background-color: #1476C6;
    color: white;
    overflow: hidden;
    text-align: center;
    border-radius: 25px;
    text-decoration: none;
    float: left;
    margin: 5px;
}

    .dataset:hover, .dataset:focus {
        text-decoration: none;
        background-color: #1064a8;
        color: white;
    }

    .dataset:visited, .dataset:link {
        text-decoration: none;
        background-color: #1476C6;
        color: white;
    }

.dataset-naam {
    height: 50px;
    margin: 0;
    text-align: center;
    font-size: large;
    vertical-align: middle;
    line-height: 50px;
}
