
@{
    ViewBag.Title = "Domeinen";
}

<h2>Domeinen</h2>
<form action="/action_page.php">
    Zoek <input type="text" name="fname">
    <input type="submit" value="Zoeks"><br>
</form>

<textarea rows="20" cols="400">
 
</textarea><br>

<button type="button">Voeg domein toe</button>
<button type="button">Bekijk</button>

