
@{
    ViewBag.Title = "Domeinen";
}

<h2>Domeinen</h2>
<form action="/action_page.php">
    Zoek <input type="text" name="fname">
    <input type="submit" value="Zoeks"><br>
</form>
<br>
@{ for (int i = 0; i < 3; i++)
    {
        <tr>
            <td> Bomen</td>
            <td> Stuff</td>
            <td> Things</td>
        </tr>
    }}<br>
<br>
<button type="button">Voeg domein toe</button>
<button type="button">Bekijk</button>

