
@{
    ViewBag.Title = "Domeinen";
}

<h2>Domeinen</h2>
<div class="form-group">
    <form action="/action_page.php">
        <div class="form-group">
            Zoek <input class="form-control" type="text" name="fname"> 
            <input class="btn btn-success" type="submit" value="Zoek"><br>
        </div>
    </form>

<textarea class="form-control" rows="20" cols="400">
</textarea><br>

</div>
<button class="btn btn-info" type="button">Voeg domein toe</button>
<button class="btn btn-info" type="button">Bekijk</button>

