@{
    ViewBag.Title = "Beheer";
}

<h2 class="titel">Beheer</h2>
<div class="dataset-container">
    <div class="dataset-bar">
        <a href="/Beheer/Domeinen">
            <div class="dataset-item col-xs-12">
                Domeinen bewerken
            </div>
        </a>
    </div>
</div>
<div class="dataset-container">
    <div class="dataset-bar">
        <a href="/Datasets/Toevoegen">
            <div class="dataset-item col-xs-12">
                Dataset toevoegen
            </div>
        </a>
    </div>
</div>
<div class="dataset-container">
    <div class="dataset-bar">
        <a href="/Beheer/SoortenDatasets">
            <div class="dataset-item col-xs-12">
                Database types bewerken
            </div>
        </a>
    </div>
</div>
@*<div class="dataset-container">
        <div class="dataset-bar">
            <a href="/Domeinen">
                <div class="dataset-item col-xs-12">
                    Gebruiker permissies bewerken
                </div>
            </a>
        </div>
    </div>*@

