@model Database_Plattegrond.Models.ZoekViewModel
@{
    ViewBag.Title = "Zoek";
}

<h2>Zoek</h2>
        @{for (int i = 0; i < Model.ZoekDatasets.Count; i++)
                {
                    <div class="dataset-container">
                        <div class="dataset-bar">
                            <a href="/Datasets/Details/?id=@Model.ZoekDatasets[i].Id">
                                <div class="dataset-item col-xs-11">
                                    @Model.ZoekDatasets[i].Naam
                                </div>
                            </a>
                            <div class="col-xs-1" aria-label="Left Align">
                                <span class="btn glyphicon glyphicon-triangle-bottom dataset-item" aria-hidden="true" onclick="javascript:myFunction('#test_@i')"></span>
                            </div>
                        </div>
                        <div class="dataset-panel">
                            <div class="col-xs-12 dataset-panel-item" id="test_@i" hidden>

                                @if (Model.ZoekDatasets[i].LinkOpenData == null)
                            {
                                <a class="btn btn-default" href="" style="float:right">Data aanvragen</a>
                        }
                        else
                        {
                            <a class="btn btn-default" href="@Model.ZoekDatasets[i].LinkOpenData" style="float:right">Open data locatie</a>
                    }

                                <header>Beschrijving:</header>

                                @Model.ZoekDatasets[i].Beschrijving
                            </div>
                        </div>
                    </div>
            }
                }