@model Database_Plattegrond.Models.Domein
@{
    ViewBag.Title = "Domein Bewerken";
}

<style>
    body {
        background-color: #1476C6;
        font-family: "Helvetica";
    }

    tr {
        background-color: white;
    }

    table {
        border-collapse: collapse;
        border: 5px solid #FDDC03;
        width: 100%;
    }

    td, th {
        border: 1px solid black;
        text-align: left;
        padding: 8px;
    }
</style>
<h2>Domein Bewerken</h2>


<form action="/domeinen/index" method="post">
    <p>
        @Html.Label("Naam")
        @Html.TextBox("Naam", Model.Naam, new { @class = "form-control " })
    </p>
    <input class="form-control btn" id="submitDataset" name="submitDataset" type="submit" value="Opslaan">
</form>
