@model Database_Plattegrond.Models.Domein
@{
    ViewBag.Title = "Domein Bewerken";
}
<h2>Domein Bewerken</h2>


<form action="/domeinen/index" method="post">
    <p>
        @Html.Label("Naam")
        @Html.TextBox("Naam", Model.Naam, new { @class = "form-control " })
    </p>
    <input class="form-control btn" id="submitDataset" name="submitDataset" type="submit" value="Opslaan">
</form>
