@model Database_Plattegrond.Models.DomeinenViewModel
@{
    ViewBag.Title = "Domeinen";
}
<h2 class="titel">Domeinen</h2>

@{ foreach (Database_Plattegrond.Models.Domein Domein in @Model.Domeinen)
    {
        <a class="domein" href="/Datasets/?domein=@Domein.Naam">
            <div class="domein-naam">
                @Domein.Naam
            </div>
            <div class="img-container">
                <img src="~/Images/bloem.png" alt="@Domein.Naam"/>
            </div>
        </a>
    }
}
<div class="clearfix"></div>