@{
    ViewBag.Title = "Domein toevoegen";
}
<style>
    body {
        background-color: #1476C6;
        font-family: "Helvetica";
    }

    tr {
        background-color: white;
    }

    table {
        border-collapse: collapse;
        border: 5px solid #FDDC03;
        width: 100%;
    }

    td, th {
        border: 1px solid black;
        text-align: left;
        padding: 8px;
    }
</style>
<h2>@ViewBag.Message</h2>

<form action="/domeinen/index" method="post">
    <p>
        @Html.Label("Naam")
        @Html.TextBox("Naam", null, new { @class = "form-control " })
    </p>
    <p>
        <input class="btn btn-default" id="submitDataset" name="submitDataset" type="submit" value="Opslaan">
    </p>
</form>
